# Creating a database from CSV files

In [70]:
#Importing Libraries

import psycopg2
import pandas as pd

## Creating a database and conencting to the postgreSQL host using psycopg2 module

In [71]:
#Creating a database and a connection to it


def create_database():
    conn = psycopg2.connect("host = 127.0.0.1 dbname=postgres user=postgres password=Lexoqqva@7")
    conn.set_session(autocommit=True)
    cur = conn.cursor()   #used to query the database

    cur.execute("DROP DATABASE IF EXISTS accounts")
    cur.execute("CREATE DATABASE accounts WITH ENCODING 'utf8' TEMPLATE template0")

    #closing connection to the default database postgres
    conn.close() 

    #connecting to the newly created database, accounts
    conn = psycopg2.connect("host =127.0.0.1 dbname=accounts user=postgres password=Lexoqqva@7")
    cur = conn.cursor()

    return cur, conn

### Creating Tables inside the database

In [73]:
def drop_table(cur, conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

In [74]:
def create_table(cur, conn):
    for query in create_table_queries:
        cur.execute(query)
        conn.commit()

### Reading data from CSV files.

### Reading, Cleaning and performing EDA on the AccountsData from the Github Repository

In [75]:
accountsData = pd.read_csv('https://raw.githubusercontent.com/Impact-Insights/Data-Engineering-Project-01/refs/heads/main/AccountData.csv')
accountsData.head(2)

,Country Name,Country Code,Series Name,Series Code,1995 [YR1995],1996 [YR1996],1997 [YR1997],1998 [YR1998],1999 [YR1999],2000 [YR2000],...,2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
0,Albania,ALB,Human capital (constant 2018 US$),NW.HCA.TO,4.49E+10,4.34E+10,3.71E+10,3.88E+10,4.22E+10,4.36E+10,...,6.610000e+10,6.810000e+10,6.850000e+10,7.080000e+10,7.160000e+10,7.250000e+10,7.370000e+10,7.57E+10,7.80E+10,8.12E+10
1,Albania,ALB,Human capital per capita (constant 2018 US$),NW.HCA.PC,14072.79,13708.99,11794.1,12399.48,13573.26,14118.13,...,2.258200e+04,2.336286e+04,2.359058e+04,2.439397e+04,2.473162e+04,2.509002e+04,2.559371e+04,26326.26,27160.86,28333.68

In [76]:
accountsData.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1995 [YR1995]', '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]',
       '1999 [YR1999]', '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]',
       '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]',
       '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]',
       '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]',
       '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]'],
      dtype='object')

In [77]:
accountsData.columns = ['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1995', '1996', '1997', '1998','1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006','2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014','2015', '2016', '2017', '2018']

In [78]:
accountsData.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018'],
      dtype='object')

In [79]:
#cl_accountsData = accountsData[['Country Name', 'Country Code', 'Series Name', 'Series Code']]

In [80]:
accountsData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7592 entries, 0 to 7591
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  7592 non-null   object
 1   Country Code  7592 non-null   object
 2   Series Name   7592 non-null   object
 3   Series Code   7592 non-null   object
 4   1995          7592 non-null   object
 5   1996          7592 non-null   object
 6   1997          7592 non-null   object
 7   1998          7592 non-null   object
 8   1999          7592 non-null   object
 9   2000          7592 non-null   object
 10  2001          7592 non-null   object
 11  2002          7592 non-null   object
 12  2003          7592 non-null   object
 13  2004          7592 non-null   object
 14  2005          7592 non-null   float64
 15  2006          7592 non-null   float64
 16  2007          7592 non-null   float64
 17  2008          7592 non-null   float64
 18  2009          7592 non-null   float64
 19  2010          7592 non-null   float64
 20  2011          7592 non-null   float64
 21  2012          7592 non-null   float64
 22  2013          7592 non-null   float64
 23  2014          7592 non-null   float64
 24  2015          7592 non-null   float64
 25  2016          7592 non-null   object
 26  2017          7592 non-null   object
 27  2018          7592 non-null   object
dtypes: float64(11), object(17)
memory usage: 1.6+ MB

### Reading, Cleaning Performing EDA on the AccountsCountry from the Github Repository.

In [81]:
accountsCountry = pd.read_csv('https://raw.githubusercontent.com/Impact-Insights/Data-Engineering-Project-01/refs/heads/main/AccountsCountry.csv')
accountsCountry.head(2)

,Code,Long Name,Income Group,Region,Lending category,Other groups,Currency Unit,Latest population census,Latest household survey,Special Notes,...,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,2-alpha code,WB-2 code,Table Name,Short Name
0,ALB,Republic of Albania,Upper middle income,Europe & Central Asia,IBRD,NaN,Albanian lek,2020 (expected),"Demographic and Health Survey, 2017/18",NaN,...,Living Standards Measurement Study Survey (LSM...,Yes,2012,2013.0,2018.0,2006.0,AL,AL,Albania,Albania
1,ARG,Argentine Republic,Upper middle income,Latin America & Caribbean,IBRD,NaN,Argentine peso,2020 (expected),"Multiple Indicator Cluster Survey, 2019/20",NaN,...,"Integrated household survey (IHS), 2016",Yes,2008,2002.0,2018.0,2011.0,AR,AR,Argentina,Argentina

In [82]:
accountsCountry.columns

Index(['Code', 'Long Name', 'Income Group', 'Region', 'Lending category',
       'Other groups', 'Currency Unit', 'Latest population census',
       'Latest household survey', 'Special Notes',
       'National accounts base year', 'National accounts reference year',
       'System of National Accounts', 'SNA price valuation',
       'Alternative conversion factor', 'PPP survey years',
       'Balance of Payments Manual in use', 'External debt Reporting status',
       'System of trade', 'Government Accounting concept',
       'IMF data dissemination standard',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data',
       'Latest water withdrawal data', '2-alpha code', 'WB-2 code',
       'Table Name', 'Short Name'],
      dtype='object')

In [83]:
accountsCountry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7597 entries, 0 to 7596
Data columns (total 31 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Code                                               7592 non-null   object
 1   Long Name                                          7594 non-null   object
 2   Income Group                                       7593 non-null   object
 3   Region                                             146 non-null    object
 4   Lending category                                   107 non-null    object
 5   Other groups                                       52 non-null     object
 6   Currency Unit                                      146 non-null    object
 7   Latest population census                           145 non-null    object
 8   Latest household survey                            119 non-null    object
 9   Special Notes                                      45 non-null     object
 10  National accounts base year                        146 non-null    object
 11  National accounts reference year                   59 non-null     float64
 12  System of National Accounts                        146 non-null    object
 13  SNA price valuation                                146 non-null    object
 14  Alternative conversion factor                      41 non-null     object
 15  PPP survey years                                   138 non-null    object
 16  Balance of Payments Manual in use                  145 non-null    object
 17  External debt Reporting status                     95 non-null     object
 18  System of trade                                    135 non-null    object
 19  Government Accounting concept                      126 non-null    object
 20  IMF data dissemination standard                    145 non-null    object
 21  Source of most recent Income and expenditure data  138 non-null    object
 22  Vital registration complete                        73 non-null     object
 23  Latest agricultural census                         105 non-null    object
 24  Latest industrial data                             128 non-null    float64
 25  Latest trade data                                  142 non-null    float64
 26  Latest water withdrawal data                       140 non-null    float64
 27  2-alpha code                                       145 non-null    object
 28  WB-2 code                                          145 non-null    object
 29  Table Name                                         146 non-null    object
 30  Short Name                                         146 non-null    object
dtypes: float64(4), object(27)
memory usage: 1.8+ MB

In [84]:
cl_accountsCountry = accountsCountry[['Code', 'Long Name', 'Short Name', 'Table Name', 'Currency Unit']]
cl_accountsCountry.head(2)

  Code            Long Name Short Name Table Name   Currency Unit
0  ALB  Republic of Albania    Albania    Albania    Albanian lek
1  ARG   Argentine Republic  Argentina  Argentina  Argentine peso

### Reading, Cleaning and performing EDA on the AccountsSeries from the Github Repository
You can write anything

In [85]:
accountsSeries = pd.read_csv('https://raw.githubusercontent.com/Impact-Insights/Data-Engineering-Project-01/refs/heads/main/AccountSeries.csv')
accountsSeries.head(2)

,Code,Indicator Name,Long definition,Source,Topic,Unit of measure,Periodicity,Reference period,Statistical concept and methodology,Previous Indicator Code,Previous Indicator Name
0,NW.HCA.TO,Human capital (constant 2018 US$),Human capital is computed as the present value...,World Bank. 2021. The Changing Wealth of Natio...,Human capital,Constant 2018 US$,Annual,1995-2018,Total wealth is calculated by summing up estim...,NaN,NaN
1,NW.HCA.PC,Human capital per capita (constant 2018 US$),Human capital is computed as the present value...,World Bank. 2021. The Changing Wealth of Natio...,Human capital,Constant 2018 US$,Annual,1995-2018,Total wealth is calculated by summing up estim...,NaN,NaN

In [86]:
accountsSeries.columns

Index(['Code', 'Indicator Name', 'Long definition', 'Source', 'Topic',
       'Unit of measure', 'Periodicity', 'Reference period',
       'Statistical concept and methodology', 'Previous Indicator Code',
       'Previous Indicator Name'],
      dtype='object')

In [87]:
accountsSeries.head()

,Code,Indicator Name,Long definition,Source,Topic,Unit of measure,Periodicity,Reference period,Statistical concept and methodology,Previous Indicator Code,Previous Indicator Name
0,NW.HCA.TO,Human capital (constant 2018 US$),Human capital is computed as the present value...,World Bank. 2021. The Changing Wealth of Natio...,Human capital,Constant 2018 US$,Annual,1995-2018,Total wealth is calculated by summing up estim...,NaN,NaN
1,NW.HCA.PC,Human capital per capita (constant 2018 US$),Human capital is computed as the present value...,World Bank. 2021. The Changing Wealth of Natio...,Human capital,Constant 2018 US$,Annual,1995-2018,Total wealth is calculated by summing up estim...,NaN,NaN
2,NW.HCA.FEMP.PC,"Human capital per capita, employed female (con...",Human capital is computed as the present value...,World Bank. 2021. The Changing Wealth of Natio...,Human capital,Constant 2018 US$,Annual,1995-2018,Total wealth is calculated by summing up estim...,NaN,NaN
3,NW.HCA.MEMP.PC,"Human capital per capita, employed male (const...",Human capital is computed as the present value...,World Bank. 2021. The Changing Wealth of Natio...,Human capital,Constant 2018 US$,Annual,1995-2018,Total wealth is calculated by summing up estim...,NaN,NaN
4,NW.HCA.FEMA.PC,"Human capital per capita, female (constant 201...",Human capital is computed as the present value...,World Bank. 2021. The Changing Wealth of Natio...,Human capital,Constant 2018 US$,Annual,1995-2018,Total wealth is calculated by summing up estim...,NaN,NaN

In [88]:
accountsSeries = accountsSeries[['Code', 'Topic', 'Indicator Name', 'Long definition']]
accountsSeries.head()

,Code,Topic,Indicator Name,Long definition
0,NW.HCA.TO,Human capital,Human capital (constant 2018 US$),Human capital is computed as the present value...
1,NW.HCA.PC,Human capital,Human capital per capita (constant 2018 US$),Human capital is computed as the present value...
2,NW.HCA.FEMP.PC,Human capital,"Human capital per capita, employed female (con...",Human capital is computed as the present value...
3,NW.HCA.MEMP.PC,Human capital,"Human capital per capita, employed male (const...",Human capital is computed as the present value...
4,NW.HCA.FEMA.PC,Human capital,"Human capital per capita, female (constant 201...",Human capital is computed as the present value...

## Creating a Database and Tables
## Creating a Data Model

In [92]:
conn.close()

In [93]:
cur, conn = create_database()

In [126]:
accountscountry_table_create = (
    """CREATE TABLE IF NOT EXISTS accountscountry(
    country_code VARCHAR PRIMARY KEY,
    short_name VARCHAR,
    table_name VARCHAR,
    long_name VARCHAR,
    currency_unit VARCHAR
    );""")
cur.execute(accountscountry_table_create)
conn.commit()

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [ ]:
accountsData_table_create = (
    """
    CREATE TABLE IF NOT EXISTS accountsdata(
    country_name VARCHAR PRIMARY KEY,
    country_code VARCHAR,
    indicator_name VARCHAR,
    indicator_code VARCHAR,
    year_1995 NUMERIC,
    year_2000 NUMERIC,
    year_2005 NUMERIC,
    year_2010 NUMERIC,
    year_2014 NUMERIC
    );""")
cur.execute(accountsData_table_create)
conn.commit()

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [108]:
accountsSeries_table_create = (
    """
    CREATE TABLE IF NOT EXISTS accountsseries(
    series_code VARCHAR PRIMARY KEY,
    topic VARCHAR,
    indicator_name VARCHAR,
    long_definition VARCHAR
    );
    """)
cur.execute(accountsSeries_table_create)
conn.commit()

## Inserting Data from the CSV files into the Database Tables created

In [123]:
conn.rollback()

In [ ]:
accountscountry_table_insert = (
    """
    INSERT INTO accountscountry(
    country_code,
    short_name,
    table_name,
    long_name,
    currency_unit)
    VALUES (%s, %s, %s, %s, %s);
    """)

In [128]:
for i, row in cl_accountsCountry.iterrows():
    cur.execute(accountscountry_table_insert, list(row))
conn.commit()

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [ ]:
'''
Do something about the error!!!
'''

accountscountry_table_insert = (
    """
    INSERT INTO accountscountry(
    country_code,
    short_name,
    table_name,
    long_name,
    currency_unit)
    VALUES (%s, %s, %s, %s, %s)
    ON CONFLICT (country_code) DO NOTHING;
    """)

for i, row in cl_accountsCountry.iterrows():
    cur.execute(accountscountry_table_insert, list(row))
conn.commit()

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [ ]:
# Rollback the transaction to clear the failed state
#conn.rollback() USED TO UNDO A TRANSACTION IN DATABASES

# Now try executing the command again
cur.execute(accountscountry_table_create)
conn.commit()

# Group Project Code

A Python script that reads in a CSV file of student grades to:
1. Calculate averages, 
2. Finding maximum and minimum values, and 
3. Generating simple summaries.

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Impact-Insights/Group-Project/refs/heads/main/class_grades_2c.csv')


df.head()

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0       5       57.14     34.09    64.38     51.48  52.50
1       8       95.05    105.49    67.50     99.07  68.33
2       8       83.70     83.17    30.00     63.15  48.89
3       7       81.22     96.06    49.38    105.93  80.56
4       8       91.32     93.64    95.00    107.41  73.89

## Calculating Averages

In [ ]:
#Calculating the averages of the assignment, Tutorial, Midterm, TakeHome and Final columns

ass_ave = round(df['Assignment'].mean(), 2)
print("The Assignment average is: ", ass_ave, "\n")

tut_ave = round(df['Tutorial'].mean(), 2)
print("The Tutorial average is: ", tut_ave, "\n")

midterm_ave = round(df['Midterm'].mean(), 2)
print("The Midterm average is: ", midterm_ave, "\n")

takehome_ave = round(df['TakeHome'].mean(), 2)
print("The Takehome average is: ", takehome_ave, "\n")

final_ave = round(df['Final'].mean(), 2)
print("The Tutorial average is: ", final_ave, "\n")

The Assignment average is:  85.49

The Tutorial average is:  89.73

The Midterm average is:  68.05

The Takehome average is:  80.83

The Tutorial average is:  68.41

## Calculating Maximum and Minimum Values

In [ ]:
ass_min = df['Assignment'].min()
print("The Assingment minimum mark is: ", ass_min)
ass_max = df['Assignment'].max()
print("The Assingment maximum mark is: ", ass_max, "\n")

tut_min = df['Tutorial'].min()
print("The Tutorial minimum mark is: ", tut_min)
tut_max = df['Assignment'].max()
print("The Tutorial maximum mark is: ", tut_max, "\n")

midterm_min = df['Midterm'].min()
print("The Assingment minimum mark is: ", midterm_min)
midterm_max = df['Midterm'].max()
print("The Midterm maximum mark is: ", midterm_max, "\n")

takehome_min = df['TakeHome'].min()
print("The Assingment minimum mark is: ", takehome_min)
takehome_max = df['TakeHome'].max()
print("The TakeHome maximum mark is: ", ass_max, "\n")

ass_min = df['Final'].min()
print("The Assingment minimum mark is: ", ass_min)
ass_max = df['Final'].max()
print("The Final maximum mark is: ", ass_max)

The Assingment minimum mark is:  28.14
The Assingment maximum mark is:  100.83

The Tutorial minimum mark is:  34.09
The Tutorial maximum mark is:  100.83

The Assingment minimum mark is:  28.12
The Midterm maximum mark is:  110.0

The Assingment minimum mark is:  16.91
The TakeHome maximum mark is:  100.83

The Assingment minimum mark is:  28.06
The Final maximum mark is:  108.89

## Calculating Learner Average (Adding a New Column)

In [ ]:
df['Learner_Average'] = round(df[['Assignment', 'Tutorial', 'Midterm', 'TakeHome']].mean(axis=1), 2)
df

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final  Learner_Average
0        5       57.14     34.09    64.38     51.48  52.50            51.77
1        8       95.05    105.49    67.50     99.07  68.33            91.78
2        8       83.70     83.17    30.00     63.15  48.89            65.00
3        7       81.22     96.06    49.38    105.93  80.56            83.15
4        8       91.32     93.64    95.00    107.41  73.89            96.84
..     ...         ...       ...      ...       ...    ...              ...
94       8       96.73    103.71    45.00     93.52  61.94            84.74
95       7       85.34     80.54    41.25     93.70  39.72            75.21
96       8       89.94    102.77    87.50     90.74  87.78            92.74
97       7       95.60     76.13    66.25     99.81  85.56            84.45
98       8       63.40     97.37    73.12     72.78  77.22            76.67

[99 rows x 7 columns]

## Generating Simple Summaries

In [ ]:
df.columns

Index(['Prefix', 'Assignment', 'Tutorial', 'Midterm', 'TakeHome', 'Final',
       'Learner_Average'],
      dtype='object')

In [ ]:
df[['Assignment', 'Tutorial', 'Midterm', 'TakeHome', 'Final',
       'Learner_Average']].describe()

,Assignment,Tutorial,Midterm,TakeHome,Final,Learner_Average
count,99.000000,99.000000,99.000000,98.000000,96.000000,99.000000
mean,85.491717,89.731111,68.049495,80.828469,68.414375,81.006364
std,12.597694,15.071556,19.376074,23.808806,18.801087,12.564231
min,28.140000,34.090000,28.120000,16.910000,28.060000,51.770000
25%,80.875000,83.350000,52.810000,66.015000,53.122500,73.170000
50%,89.940000,93.100000,69.380000,87.960000,66.250000,82.340000
75%,95.000000,100.550000,82.810000,98.747500,84.167500,91.225000
max,100.830000,112.580000,110.000000,108.890000,108.890000,103.020000